name: Build and push
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v1

      - name: Login to Digital Ocean Registry
        uses: docker/login-action@v3
        with:
          registry: registry.digitalocean.com
          username: ${{ secrets.DIGITAL_OCEAN_TOKEN }}
          password: ${{ secrets.DIGITAL_OCEAN_TOKEN }}

      - name: Build latest
        run: docker build -t registry.digitalocean.com/containers/devcamp2023-hehe:$(echo $GITHUB_SHA | head -c7) .

      - name: Push image to DigitalOcean Container Registry
        run: docker push registry.digitalocean.com/containers/devcamp2023-hehe:$(echo $GITHUB_SHA | head -c7)

      - name: Setup kubectl
        uses: matootie/dokube@v1.4.0
        with:
          clusterName: k8s-bergen
          personalAccessToken: ${{ secrets.DIGITAL_OCEAN_TOKEN }}

      - name: Update deployment file
        run: TAG=$(echo $GITHUB_SHA | head -c7) && sed -i 's|<TAG>|'${TAG}'|' $GITHUB_WORKSPACE/config/deployment.yml

      - name: Run deploy
        run: kubectl apply -f $GITHUB_WORKSPACE/config/deployment.yml -n apps

      - name: Setup service
        run: kubectl apply -f $GITHUB_WORKSPACE/config/service.yml -n apps

      - name: Setup ingress
        run: kubectl apply -f $GITHUB_WORKSPACE/config/ingress.yml -n apps

      - name: Verify deploy
        run: kubectl rollout status deployment/devcamp2023-hehe -n apps
        timeout-minutes: 1
        continue-on-error: true
